/*
 * Global
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
@media (min-width:768px) {
	html {
		font-size: 18px;
	}
}
body {
	font-size: 1em;
	line-height: 1.35;
  -webkit-font-smoothing: antialiased;
  font-family: "ff-tisa-sans-web-pro", sans-serif;
  text-rendering: optimizeLegibility;
  margin-bottom: 80px;
}
img {
	width: 100%;
	height: auto;
  vertical-align: middle;
}

/*
 * The Grid
 */

.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFF;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.main-content {
  padding-top: 62px;
}
.center-column {
  max-width: 630px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/*
 * Typography
 */

p {
	margin-top: 0;
	margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #458BBA;
}
h1 {
	margin-top: 0px;
  font-size: 1.3rem;
}
h2 {
  font-size: 1.1rem;
}
ol li,
ul li {
  margin-top: 0px;
	margin-bottom: .75rem;
}
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
blockquote {
  border-left: none;
  font-size: .9rem;
  line-height: 1.35;
  padding-left: .75rem;
  padding-right: .75rem;
}
hr {
	border-top: 2px solid #E7E7E7;
	border-bottom: none;
	border-left: none;
	margin-top: 40px;
	margin-bottom: 40px;
}

/*
 * Buttons
 */

.btn {
  font-size: 1rem;
  text-decoration: none;
}
.btn-primary {
  background-color: #458BBA;
}

/*
 * Masthead
 */

.navbar-default {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(245,245,245,.9);
  border-bottom: 0px;
}
.navbar-default a {
  text-decoration: none;
}
.navbar-nav li a {
  padding-top: 5px;
  padding-bottom: 0px;
}
.navbar-default ul li {
  margin-bottom: 0px;
}

/*
 * Intro
 */

.feature {
  text-align: center;
}
.feature h1 {
  font-size: 1.75rem;
}
.feature p {
  font-size: 1.25rem;
}
.intro {
  padding-top: 15px;
  padding-bottom: 15px;
}
.carousel {
  margin-bottom: 20px;
  background-color: #A8ADBF;
}

/*
 * Class Info
 */

.class-info {
  background-color: #E7E7E7;
  padding-bottom: 50px;
  padding-top: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .class-info {
    margin-left: -50px;
    margin-right: -50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}