/*
 * Global
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
@media (min-width:768px) {
	html {
		font-size: 18px;
	}
}
body {
	font-size: 1em;
	line-height: 1.35;
	font-family: Georgia, sans-serif;
  margin-bottom: 80px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
img {
	width: 100%;
	height: auto;
	border-radius: 3px;
  vertical-align: middle;
}

/*
 * The Grid
 */

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

/*
 * Typography
 */

p {
	margin-top: 0;
	margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .75rem;
  font-size: 1rem;
  color: #7E7E7E;
}
h1 {
	margin-top: 0px;
  font-size: 1.3rem;
}
h2 {
  font-size: 1.1rem;
}
ol li,
ul li {
  margin-top: 0px;
	margin-bottom: .75rem;
}
blockquote {
  border-left: none;
  font-size: .9rem;
  line-height: 1.35;
  padding-left: .75rem;
  padding-right: .75rem;
}
hr {
	border-top: 2px solid #E7E7E7;
	border-bottom: none;
	border-left: none;
	margin-top: 40px;
	margin-bottom: 40px;
}

/*
 * Navigation
 */

.nav {
  margin-bottom: 40px;
}
.nav a {
	text-decoration: none;
}
.nav ul {
	list-style: none;
	padding-left: 0;
}
.nav ul li {
	margin-right: 20px;
	display: inline-block;
}

/*
 * Buttons
 */

.btn {
  background-color: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  border: 2px solid #FFF;
  box-shadow: 0px 1px 1px rgba(0,0,0,.5);
}
.btn:hover {
  position: relative;
  top: 1px;
  box-shadow: none;
}

/*
 * Intro
 */

.jumbotron {
  padding-top: 90px;
  background-image: url('/img/cat-painting.jpg');
  background-repeat: no-repeat;
  background-position: 0px -80px;
  background-attachment: fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  height: 550px;
  text-align: center;
  color: #FFFFFF;
}
.jumbotron-caption {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0px 0px 20px rgba(0,0,0,.8);
}
.jumbotron-caption h1 {
  font-size: 3rem;
}